@import './../mixins.scss';
@import './../variables.scss';

.configuration-page{
    @include flex;
    width: 100%;
    flex-direction: column;
    background-color: #121418;
    align-items: flex-start;  

    .top-part-ul {
        @include flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        background-color: $main-bg-color;
        
        ul {
            width: 20%;
            display: flex;
            flex-direction: row;
            list-style: none;
            background-color: $main-bg-color;
        }
        
        li {
            margin: auto;
            color: white;
            font-size: 1rem;
            cursor: pointer;
        }

        .admin-li {
            margin-left: 5rem;
        }
        
        li:after {
            display: block;
            content: '';
            border-bottom: solid 1px #E84949;
            padding-bottom: 1%;
            transform: scaleX(0);
            transition: transform 300ms ease-in-out;
        }
        
        li:hover:after {
            transform: scaleX(1);
        }
    }

    &-section-1{
        @include flex;
        width: 100%;
        height: 25%;
        flex-direction: column;
        color: $main-font-color;
        align-items: center;

        &-title {
            @include flex;
            flex-direction: column;
            width: 100%;
            height: 10%;
            justify-content: center;
            align-items: flex-start;
            margin-left: 2rem;
            h1 {
                font-size: 1.3rem;
                font-weight: 600;
            }
            h2 {
                font-size: 1rem;
                font-weight: 300;
            }
            h1, h2 {
                margin: 0.5rem;
            }
        }
    
        &-profile-picture{
            @include flex;
            flex-direction: row;
            color: $main-font-color;
        }
         
        &-profile-buttons{
            margin-left: 10vh;
            .button-1{
                background-color: #E84949;
                color: $main-font-color;
                border-color: #E84949;
                border: 2%;
                border-radius: 8px;
                padding: 0.5rem;
                margin: 0.5rem;
                font-size: 1.5rem;
                font-weight: 600;
                cursor: pointer;
                width: 15vh;
            }
            .button-2{
                background-color: #1B1F24;
                color: $main-font-color;
                border: 2%;
                border-color: white;
                border-radius: 8px;
                padding: 0.5rem;
                margin: 0.5rem;
                font-size: 1.5rem;
                font-weight: 600;
                cursor: pointer;
                width: 15vh;
            }
        }
    }
    hr {
        display: flex;
        width: 95%;
        color: white;
        background-color: #1B1F24;
    }

    &-section-2-information{
        display: flex;
        flex-direction: column;
        color: white;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #121418;

        .map-container {
            @include flex;
            position: fixed;
            flex-direction: column; 
            width: 70%;
            height: 50%;
            margin-left: 3rem;
            z-index: 1;
        }

        h2{
            margin-left: 5%;
            font-size: 1rem;
        }
        &-inputs{
            z-index: 2;
            input{
                height: 45%;
                background-color: #1B1F24;
                border-radius: 10px;
                font-size: 1.5rem;
                font-weight: 600;
                padding: auto;
                border: none;
                color: white;
            }
            .form{
                display : flex;
                flex-direction: row;
                .inputs-column-1{
                    display: flex;
                    flex-direction: column;
                    margin-left : 5%;
                    z-index: 20;
                }
                .inputs-column-2{
                    display: flex;
                    flex-direction: column;
                    margin-left: 5%;
                }
            }

        }
        &-buttons{
            display: flex;
            flex-direction: row;
            margin-left: 5%;
            margin-top: 2%;
            z-index: 20;
            .button-1{
                background-color: #E84949;
                color: $main-font-color;
                border-color: #E84949;
                border: 2%;
                border-radius: 8px;
                padding: 0.5rem;
                margin: 0.5rem;
                font-size: 1.5rem;
                font-weight: 600;
                cursor: pointer;
                width: 20vh;
            }
            .button-2{
                background-color: #1B1F24;
                color: $main-font-color;
                border: 2%;
                border-color: white;
                border-radius: 8px;
                padding: 0.5rem;
                margin: 0.5rem;
                font-size: 1.5rem;
                font-weight: 600;
                cursor: pointer;
                width: 20vh;
            }
        }
    }   

    .password-change-section
    {
        @include flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        background-color: #121418;
        margin-left: 5%;

        h4{
            margin: 0;
            margin-top: 2rem;
            font-size: 1rem;
            font-weight: 600;
        }

        &-inputs{
            @include flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            background-color: #121418;
            z-index: 2;

            input {
                height: 45%;
                background-color: #1B1F24;
                border-radius: 10px;
                font-size: 1.5rem;
                font-weight: 600;
                padding: auto;
                border: none;
                color: white;
            }
        }

        &-buttons{
            display: flex;
            align-items: center;
            flex-direction: row;
            margin-top: 2%;
            z-index: 20;
            .button-1{
                background-color: #E84949;
                color: $main-font-color;
                border-color: #E84949;
                border: 2%;
                border-radius: 8px;
                padding: 0.5rem;
                margin: 0.5rem;
                font-size: 1.5rem;
                font-weight: 600;
                cursor: pointer;
                width: 20vh;
            }
            // .button-2{
            //     background-color: #1B1F24;
            //     color: $main-font-color;
            //     border: 2%;
            //     border-color: white;
            //     border-radius: 8px;
            //     padding: 0.5rem;
            //     margin: 0.5rem;
            //     font-size: 1.5rem;
            //     font-weight: 600;
            //     cursor: pointer;
            //     width: 20vh;
            // }
        }
    }
}