@import './../mixins.scss';
@import './../variables.scss';

.dashboard-page{
    @include flex;
    width: 100vw;
    height: 100%;
    flex-direction: row;
    
    &-section-2{
        @include flex;
        justify-content: space-evenly;
        flex-direction: column;
        width: 80%;
        height:100%;
        background-color: #121418;
        &-1 {
            @include flex;
            width: 100%;
            height: 10%;
            justify-content: flex-start;
            flex-direction: row;
            margin-block-end: auto;
            margin-top: 1rem;
            margin-left: 2rem;

            .search-icon {
                fontawesome-icon{
                    color: $main-font-color;
                    font-size: 1.5rem;
                    margin-right: 1rem;
                };
                margin-left: 1rem;
            }

            svg {
                height: 40px;
                width: 40px;
                color: $main-font-color;
                margin-left: 1rem;
                margin-top: 0.5rem;
                padding: 10px;
                background-color: #1B1F24;
                border-radius: 15px;
            }

            input {
                width: 620px;
                height: 40px;
                border: none;
                background-color: transparent;
                color: $main-font-color;
                font-size: 1rem;
                font-weight: 600;
                text-align: left;
                margin-top: 0.5rem;
                margin-left: 1rem;
            }
        }
        &-2 {
            @include flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-inline-end: auto;
            width: 50%;
            height:100%;
            margin-top: 1.5rem;
            margin-left: 2rem;

            &-1 {
                @include flex;
                background-color: $secondary-bg-color;
                width: 100%;
                height: 20%;
                border-radius: 10px;
                flex-direction: row;
                justify-content: space-evenly;

                img {
                    border-radius: 5px;
                }

                .info {
                    @include flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-evenly;
                    color: $main-font-color;
                    height: 70%;
                    width: 70%;

                    h3 {
                        font-size: 1.5rem;
                        font-weight: 600;
                    }

                    h4, h6 {
                        font-size: 0.7rem;
                        font-weight: 300;
                        color: #adb5bd;
                    }

                    h3, h4, h6 {
                        margin: 0;
                    }
                }
            }
            &-2 {
                @include flex;
                flex-direction: column;
                justify-content: space-evenly;
                border-radius: 10px;
                width: 100%;
                height: 50%;
                margin-top: 1rem;
                background-color: $secondary-bg-color;

                .title-section {
                    @include flex;
                    align-items: flex-start;
                    flex-direction: column;
                    justify-content: space-evenly;
                    width: 100%;
                    height: 25%;
                    margin-left: 2rem;

                    h3 {
                        font-size: 1.2rem;
                        font-weight: 600;
                        color: $main-font-color;
                    }

                    h4 {
                        font-size: 1rem;
                        font-weight: 300;
                        color: #adb5bd;
                    }

                    h3, h4 {
                        margin: 0;
                    }
                }

                .cards-section {
                    @include flex;
                    overflow-y: scroll;
                    flex-direction: column;
                    justify-content: space-evenly;
                    width: 100%;
                    height: 80%;
                }
            }
            &-3 {
                @include flex;
                flex-direction: column;
                justify-content: space-evenly;
                border-radius: 10px;
                width: 100%;
                height: 20%;
                margin-top: 1rem;
                background-color: $secondary-bg-color;
            }
        }
    }
}