$primary-font: 'Yantramanav';
$secondary-font: 'Inter';

$main-font-color: #fff;
$secondary-font-color: #A5A6A6;

$main-bg-color: #121418;
$secondary-bg-color: #1B1F24;

$extra-color: #E84949;

$nav-background-color: #1B1F24;
